.produtos-bg:nth-child(odd) {
  background: linear-gradient(to right, var(--cor-0) 25%, var(--cor-12) 0%);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
}

#harley3 {
  margin-bottom: 60px;
}

.produtos-harley,
.produtos-musicman {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* Harley */
.produtos-harley-img,
.produtos-musicman-img {
  position: relative;
}

.produtos-harley-img span,
.produtos-musicman-img span {
  display: inline-flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px 0px 0px 7px;
  background: var(--c4, #ccc);
  font-size: 20px;
  color: var(--cor-12);
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 0px;
}

.produtos-harley {
  margin-top: 60px;
}

.produtos-harley-conteudo h2,
.produtos-musicman-conteudo h2 {
  margin-bottom: 20px;
  position: relative;
}

.produtos-harley-conteudo h2::before,
.produtos-musicman-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  top: -8px;
}

.produtos-harley-conteudo p,
.produtos-musicman-conteudo p {
  margin-bottom: 40px;
}

.produtos-harley-conteudo ul,
.produtos-musicman-conteudo ul {
  margin-bottom: 40px;
}

.produtos-harley-conteudo ul img,
.produtos-musicman-conteudo ul img {
  width: 24px;
}

.produtos-harley-conteudo li,
.produtos-musicman-conteudo li {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .produtos-harley-img span,
  .produtos-musicman-img span {
    top: auto;
    bottom: 20px;
    right: 0px;
  }

  .produtos-bg:nth-child(odd) {
    background: var(--cor-12);
  }

  .produtos-harley,
  .produtos-musicman {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .produtos-harley-conteudo p,
  .produtos-musicman-conteudo p {
    margin-bottom: 20px;
  }
}
@media (max-width: 470px) {
  .produtos-harley-conteudo a,
  .produtos-musicman-conteudo a {
    font-size: 1rem;
  }
}
