.tecnologia-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -80px white, inset 0 80px white;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-conteudo {
  padding: 160px 0;
}

.tecnologia-conteudo h1 {
  margin-bottom: 24px;
}

.tecnologia-conteudo p {
  margin-bottom: 20px;
  width: auto;
}

.tecnologia-diferenciais {
  display: flex;
  gap: 40px;
  margin-top: 72px;
}

.tecnologia-diferenciais h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-diferenciais img {
  width: 24px;
  margin-bottom: 8px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: none;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding: 60px 0;
  }
  .tecnologia-imagem {
    display: none;
  }
  .tecnologia-diferenciais h3 {
    width: auto;
  }
  .tecnologia-diferenciais {
    margin-top: 60px;
  }
}

@media (max-width: 450px) {
  .tecnologia-diferenciais {
    display: grid;
    grid-template-columns: 1fr;
  }
}
