.header-bg {
  background-color: var(--cor-12);
}

a {
  text-decoration: none;
  color: var(--cor-0);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-button {
  background-color: transparent;
  border: 10px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}

.my-button:focus {
  outline: none;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

.header-icones {
  display: flex;
}

.header-icones img {
  margin-left: 24px;
}

@media (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 2;
  }

  .header-icones {
    grid-column: 2;
    grid-row: 1;
  }

  .header-icones img {
    margin-left: 15px;
  }

  .header ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .header ul.show {
    display: flex;
  }

  .my-button {
    display: flex;
  }
}
