.baixos-lista {
  padding: 72px 0px;
}

.baixos-lista ul {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
  gap: 40px;
  padding: 0 20px 20px 20px;
  overflow-x: auto;
}

.baixos-lista ul img {
  flex-shrink: 0;
  object-fit: cover;
  margin-bottom: 16px;
}

.baixos-lista li {
  flex: 1;
  min-width: 280px;
}

.baixos-lista a {
  display: block;
}

.baixos-lista h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.baixos-lista h3::before {
  content: "";
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  display: inline-block;
}

.baixos-lista a:hover h3::before {
  width: 24px;
  transition: width 0.3s;
}

.baixos-lista li span {
  padding-left: 20px;
}
